/* light */
@font-face {
  font-family: Vazirmatn;
  src: url("/assets/fonts/Vazirmatn-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* regular */
@font-face {
  font-family: Vazirmatn;
  src: url("/assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* medium */
@font-face {
  font-family: Vazirmatn;
  src: url("/assets/fonts/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* bold */
@font-face {
  font-family: Vazirmatn;
  src: url("/assets/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body,
button {
  font-family: Vazirmatn;
}
