/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* root variables */
:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-headings: #000;
  --color-body: #333;
  --color-white: #fff;
  --avatar-size: 50px;
}

html {
  /* 1rem=16px convert 1rem=10px */
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.6rem;
}

/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* heading styles */
h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }

  /* customize the scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(237, 234, 234);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f3f2f2;
  }

  ::-webkit-scrollbar-thumb:enabled {
    background-color: var(--color-primary-light);
  }
}

a {
  text-decoration: none;
}

.block {
  padding: 0 2rem;
}

/* form */
input,
textarea {
  display: block;
  border: 0;
  outline: 0;
}

textarea {
  resize: none;
}

input[type="email"]::placeholder {
  text-align: right;
}

::placeholder {
  font-size: 1.2rem;
  color: #333;
  font-family: Vazirmatn;
}

/* buttons component */
.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

.btn--border {
  border: 2px solid #222;
  color: #222;
  background-color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }

  .btn--block {
    font-size: 2rem;
  }
}

/* badge component */
.badge {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  background-color: var(--color-secondary-light);
  border-radius: 32px;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* list component */
.list {
  font-size: 1.6rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

.list--tick .list__item {
  background: url("/assets/images/Tick-Square.svg") no-repeat right center;
  padding: 0.4rem 3rem 0 0;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    margin-bottom: 2rem;
  }
}

/* plan component */
.block-plan {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  gap: 4rem 6rem;
  margin-top: 5rem;
}

.plan {
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px hsl(0, 27%, 92%);
  background-color: var(--color-secondary-light);
}

.card__header,
.card__body {
  padding: 3rem 2.5rem;
}

.card__header {
  color: var(--color-white);
}

.card--secondary .card__header {
  background-color: var(--color-secondary-dark);
}

.card--primary .card__header {
  background-color: var(--color-primary-light);
}

.plan__introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.plan__price {
  font-size: 3rem;
}

.plan__billing-cycle {
  font-size: 1.4rem;
}

.plan__description {
  margin-top: 1.5rem;
  display: block;
}

.plan .btn--block {
  margin-top: 10rem;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .block-plan {
    margin-top: 9rem;
  }

  .plan--popular {
    transform: scale(1.1);
  }

  .plan:hover {
    transform: scale(1.05);
  }

  .plan--popular:hover {
    transform: scale(1.15);
  }

  .plan .btn--block {
    font-size: 2rem;
  }
}

/* feature component */
.feature {
  display: grid;
  margin-bottom: 6rem;
  gap: 3rem 10rem;
}

.feature__title {
  line-height: 1.8;
  margin-bottom: 1rem;
}

.feature__text {
  margin-bottom: 2rem;
  line-height: 2;
}

.feature .btn {
  padding: 1.2rem 3rem;
}

.feature__image {
  text-align: center;
}

.feature__image > img {
  width: 85%;
  max-height: 400px;
  object-fit: contain;
}

@media screen and (min-width: 1024px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 8rem;
  }

  .feature--reverse .feature__image {
    order: 2;
    margin-bottom: 0;
  }

  .feature__image > img {
    width: 100%;
  }

  .feature--reverse .feature__detail {
    order: 1;
  }
}

/* icon component */
.icon {
  width: 24px;
  height: 24px;
}

.icon-container {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

/* form-wrapper */
.form-wrapper {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  padding: 3rem 2rem;
}

.form-wrapper h3 {
  margin-bottom: 5.2rem;
  text-align: center;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.form-wrapper input,
.form-wrapper textarea {
  border-radius: 39px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 1rem 1.5rem;
  font-family: "iransans";
  margin-bottom: 1.5rem;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
  border-color: var(--color-primary);
}

.form-wrapper textarea {
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .form-wrapper {
    padding: 5.2rem;
  }
}

/* contact-us component */
.contact-us {
  margin: 8rem 0;
}

.contact-us__title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-us__text {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.contact-us__map {
  display: none;
}

.contact-us__map img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-us__icons .icon-holder {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.icon-holder__label {
  margin-left: 1rem;
  display: block;
  max-width: 250px;
  line-height: 1.6;
}

.contact-us__social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .contact-us {
    display: grid;
    grid-template-areas:
      "title title"
      "text text"
      "icons form"
      "map form"
      "social form";
    grid-template-columns: 70fr 30fr;
    margin: 10rem 0;
  }

  .contact-us__title {
    grid-area: title;
  }

  .contact-us__text {
    grid-area: text;
    margin: 0.5rem 0 4rem;
  }

  .contact-us__form {
    grid-area: form;
    margin-right: 3rem;
  }

  .contact-us__map {
    grid-area: map;
    display: block;
  }

  .contact-us__icons {
    grid-area: icons;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-us__icons .icon-holder {
    flex-direction: column;
  }

  .icon-holder__label {
    order: 2;
    margin-top: 1.5rem;
    max-width: 200px;
  }

  .contact-us__social {
    grid-area: social;
    justify-content: flex-end;
    margin-bottom: 0;
    margin-top: 2.5rem;
  }

  .contact-us__social .icon-container {
    margin-left: 2rem;
  }
}

/* main-footer component */
.main-footer {
  background-color: #000000cc;
  color: #fff;
  min-height: 250px;
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.main-footer .footer {
  display: flex;
  flex-direction: column;
}

.footer__item {
  margin-bottom: 3rem;
}

.footer__item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
  display: block;
  transition: all 0.2s;
}

.footer__item a:hover {
  color: #99b4119b;
}

.footer__item h6 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  line-height: 1.6;
  color: var(--color-primary-light);
}

.footer .footer__item:first-child h6 {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #99b4119b;
}

.footer__copy-right {
  font-size: 1.2rem;
  color: #acacac;
  line-height: 2;
}

.footer__socail-media {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__socail-media .icon-container {
  transition: all 0.2s;
  background-color: #99b4119b;
}

.footer__socail-media .icon-container:hover {
  background-color: #fff;
}

.footer__symbols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__enemad {
  background-color: #ffffffbd;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  max-width: 86px;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  align-self: center;
}

.footer__enemad img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .main-footer .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer__item {
    margin-bottom: 5rem;
    margin-left: 3rem;
    flex-basis: 20rem;
  }

  .footer__enemad {
    width: 120px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__item {
    flex-basis: 24rem;
  }
}

/* navbar component */
.main-header {
  background-color: var(--color-navbar);
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #ddd;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.nav__logo {
  display: flex;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}

.nav__list .nav__item:first-child a {
  padding-top: 3rem;
  /* background-color: red; */
}

.nav__item {
  border-bottom: 1px solid #cccccc39;
}

.nav__item.nav__item--border a {
  border-bottom: 2px solid transparent;
}

.nav__item.nav__item--border:first-child a {
  padding-top: 3rem !important;
}

.nav__item.nav__item--border a:hover {
  border-color: var(--color-primary-light);
  color: #444;
}

.nav__item > a {
  color: #444;
  display: block;
  padding: 1.5rem 0;
  transition: all 0.2s;
}

.nav__item > a:hover {
  color: var(--color-primary);
}

.nav__toggler {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #0000007f;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-9px, 5px);
}

.nav.nav__expanded .bar-two {
  opacity: 0;
  transform: translateX(-20px);
}

.nav.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-6px, -3px);
}

.nav__item.cta {
  border: 0;
  margin-bottom: 0;
}

.nav__item.cta a {
  color: #fff;
  font-size: 1.4rem;
}

.nav__item .btn {
  padding: 1.5rem 3rem;
}

.nav__item .btn:hover {
  background-color: #000;
  color: #fff;
}

.nav__item.telephone {
  display: none;
}

.nav__item.telephone a {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding: 1rem 3rem !important;
  border-color: var(--color-primary-light);
}

.nav__item.telephone a:hover {
  border-color: #222;
}

.nav__item.telephone a .icon {
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0 1rem;
    height: 60px;
  }

  .nav__toggler {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    opacity: 1;
    max-height: 100%;
  }

  .nav__list .nav__item:first-child a {
    padding: 1.5rem 0;
  }

  .nav__item {
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    border: 0;
  }

  .nav__item.nav__item--border:first-child a {
    border-color: var(--color-primary-light);
    padding-top: 1rem !important;
  }

  .nav__item--border a {
    padding: 1rem 0 !important;
  }

  .nav__item.telephone {
    display: block;
  }

  .nav__item.cta a {
    font-size: 1.6rem;
  }

  .nav__item .btn {
    padding: 1.25rem 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav__item.telephone {
    padding-right: 15rem;
  }
}

/* hero section */
.hero-section {
  position: relative;
  top: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section picture {
  width: 100%;
}

.hero-section img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.hero-wrapper {
  position: absolute;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-btn {
  border-radius: 12px;
  background: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  width: 270px;
}

.intro-btn h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #fff;
}

.intro-btn h2 {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 3rem;
  font-weight: normal;
}

.intro-btn__passenger {
  background-color: var(--color-white);
  border: 1px solid #fff;
  border-radius: 12px;
  margin-bottom: 2rem;
  padding: 14px;
  width: 220px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.intro-btn__passenger .icon {
  margin-left: 1.5rem;
}

.intro-btn__passenger--transparent {
  background-color: #ffffff00;
  color: #fff;
}

.intro-btn__passenger p {
  font-size: 1.4rem;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hero-section__mockup-phone {
  position: absolute;
  left: 6%;
  top: 100px;
  /* background-color: red; */
  transform: scale(1.4);
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    justify-content: flex-start;
  }

  .intro-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
  }

  .intro-btn {
    width: 570px;
    padding: 25px;
    border-radius: 20px;
  }

  .intro-btn h1 {
    font-size: 5rem;
    margin-bottom: 4.5rem;
  }

  .intro-btn h2 {
    font-size: 2.5rem;
    margin-bottom: 5rem;
  }

  .intro-btn__passenger {
    width: 250px;
  }

  .intro-btn__passenger p {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-section {
    top: 61px;
  }
  .hero-section__mockup-phone {
    display: block;
  }
}

/* services component */
.services {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10rem;
  margin-bottom: 8rem;
  padding-bottom: 5rem;
}

.services__tabs {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  padding: 0.5rem 0 1.5rem;
}

.services__title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.services__tabs .tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
  max-width: 100px;
  opacity: 0.5;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.services__tabs .tab:hover {
  opacity: 1;
}

.services__tabs .tab > p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.services__tabs img {
  max-width: 85px;
}

.tab-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  display: none;
}

.tab-content.active {
  display: flex;
}

.services__tabs .tab.active {
  opacity: 1;
}

.services .feature__title {
  margin: 1.5rem 0;
}

.services .feature__image {
  display: none;
}

.services .feature__image img {
  width: 100%;
  height: auto;
  max-height: 300px;
}

.services .feature__detail {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .services {
    margin-top: 15rem;
    margin-bottom: 10rem;
  }

  .services__title {
    font-size: 3.5rem;
    margin-bottom: 5rem;
  }

  .services__tabs {
    overflow: hidden;
  }

  .services__tabs .tab > p {
    font-size: 1.4rem;
  }

  .services__tabs img {
    width: 100%;
  }

  .services .feature__image {
    display: block;
    width: 40%;
    margin-bottom: 0;
  }

  .services .feature__detail {
    width: 48%;
  }
}

/* travel section */
.travel {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.travel__slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  padding: 3rem 0;
}

.travel__slide {
  flex: 0 0 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travel__slide:not(:last-child) {
  margin-left: 2rem;
}

.slide__img {
  width: 100%;
  height: 200px;
}

.travel__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.slide__detail {
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 32px;
  padding: 1.5rem;
  margin-top: -85px;
  width: 85%;
}

.slide__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slide__header .badge {
  font-size: 1.2rem;
  padding: 0.1rem 1.2rem;
}

.slide__header p {
  font-size: 1.2rem;
  margin-right: 0.7rem;
}

.slide__detail .slide__title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1rem;
}

.slide__detail .slide__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #acacac;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.slide__detail .slide__icons div {
  display: flex;
  align-items: center;
}

.slide__detail .slide__icons .icon {
  width: 20px;
  height: 20px;
}

.slide__detail .slide__icons span {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

/* avatar feature in traval section */
.avatar-group {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.avatar-group .avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border: 3px solid #fff;
  border-radius: 100%;
  overflow: hidden;
  margin-left: -20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.avatar:hover:not(:last-of-type) {
  transform: translate(10px);
}

.avatar-group .avatar img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.hidden-avatars {
  width: var(--avatar-size);
  height: var(--avatar-size);
  background-color: var(--color-primary-light);
  color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
  position: relative;
}

.slide__suggest {
  font-size: 1.2rem;
  color: var(--color-primary);
  margin-right: 5px;
}

@media screen and (min-width: 1024px) {
  .travel {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .travel__slides::-webkit-scrollbar-thumb:enabled {
    background-color: #eee;
  }
}

/* accordion component */
.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

.accordion__header:hover .accordion__heading {
  color: var(--color-primary-light);
}

.accordion__header:hover .icon {
  stroke: var(--color-primary-light);
  opacity: 0.5;
}

.accordion__heading {
  margin-bottom: 0;
  transition: all 0.3s ease-out;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-body);
}

.accordion__expanded .accordion__heading {
  color: var(--color-primary-light);
}

.accordion__header .icon {
  stroke: #ececec;
  transition: all 0.3s ease-out;
}

.accordion__expanded .accordion__header .icon {
  transform: rotate(-90deg);
  stroke: var(--color-primary-light);
  opacity: 0.5;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
  line-height: 2;
  border-bottom: 1px solid #ececec;
}

.accordion__expanded .accordion__content {
  max-height: 100vh;
  opacity: 1;
  padding: 0 3rem 1.5rem;
}

.accordion-wrapper {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ececec;
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.05);
  margin-top: 5rem;
}

.accordion__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-primary-light);
  padding: 1.5rem 2rem;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.accordion__intro .accordion__heading {
  font-size: 2rem;
}

.accordion__intro > span {
  display: flex;
  align-items: center;
}

/* radio-button component */
.select-type {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}

.select-control input[type="radio"] {
  display: none;
}

.select-control {
  cursor: pointer;
  flex-grow: 1;
}

.select-control label {
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 32px;
  border: 2px solid #ccc;
  padding: 1rem 2rem;
  font-weight: 700;
  color: #444;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.select-control label::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  box-shadow: 0 0 0 2px #ccc;
  border-radius: 100%;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid #fff;
  transition: all 0.3s ease-in-out;
}

.select-control input[type="radio"]:checked + label {
  border-color: var(--color-primary);
  color: var(--color-primary);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.select-control input[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 2px var(--color-primary);
  background-color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .select-type {
    flex-direction: row;
    align-items: center;
  }
}
