
<section class="hero-section">
    <picture>
        <source srcset="/assets/images/banner.webp" type="image/webp" media="(min-width: 768px)">
        <source srcset="/assets/images/banner.jpg" type="image/jpg" media="(min-width: 768px)">
        <source srcset="/assets/images/banner-mobile.webp" type="image/webp" media="(max-width: 768px)">
        <source srcset="/assets/images/banner-mobile.jpg" type="image/jpg" media="(max-width: 768px)">
        <img src="/assets/images/banner.jpg" alt="main banner">
    </picture>
    <div class="hero-wrapper container">
        <div class="intro-btn">
            <h1>تپسی</h1>
            <h2>اپلیکیشن درخواست خودرو و پیک</h2>
            <div class="intro-wrapper">
                <div class="intro-btn__passenger">
                    <svg class="icon">
                        <use xlink:href="./assets/images/svg-sprite.svg#download"></use>
                    </svg>
                    <span>دانلود اپلیکیشن مسافران</span>
                </div>
                <div class="intro-btn__passenger">
                    <svg class="icon">
                        <use xlink:href="./assets/images/svg-sprite.svg#Category"></use>
                    </svg>
                    <span>وب اپلیکیشن مسافران</span>
                </div>
                <div class="intro-btn__passenger intro-btn__passenger--transparent">
                    <svg class="icon">
                        <use xlink:href="./assets/images/svg-sprite.svg#car"></use>
                    </svg>
                    <span>ثبت‌نام راننده خودرو</span>
                </div>
                <div class="intro-btn__passenger intro-btn__passenger--transparent">
                    <svg class="icon">
                        <use xlink:href="./assets/images/svg-sprite.svg#motor"></use>
                    </svg>
                    <span>ثبت‌نام راننده موتور</span>
                </div>
                <div class="intro-btn__passenger intro-btn__passenger--transparent">
                    <svg class="icon">
                        <use xlink:href="./assets/images/svg-sprite.svg#download2"></use>
                    </svg>
                    <span>دانلود اپلیکیشن رانندگان</span>
                </div>
            </div>
        </div>

        <div class="hero-section__mockup-phone">
            <img src="./assets/images/mockup-phone.png" alt="mockup-phone">
        </div>
    </div>
</section>