<footer class="main-footer">
    <div class="container footer">
        <div class="footer__item">
            <img src="/assets/images/tapsi-logo-white.svg" alt="tapsi logo">
            <h6>اپلیکیشن درخواست خودرو و پیک</h6>
            <p class="footer__copy-right">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
        </div>
        <div class="footer__item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">فرصت شغلی</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هویت سازمانی</a>
            <a href="#">معرفی راننده به تپسی</a>
            <a href="#">استخدام بازاریاب</a>
        </div>
        <div class="footer__item">
            <h6>مسافران</h6>
            <a href="#">دانلود اپ مسافر</a>
            <a href="#">نسخه وب تپسی</a>
            <a href="#">پرسش های متداول مسافران</a>
            <a href="#">شرایط و قوانین مسافران</a>
            <a href="#">باشگاه مشتریان</a>
        </div>
        <div class="footer__item">
            <h6>رانندگان</h6>
            <a href="#">دانلود اپ سفیر</a>
            <a href="#">ثبت نام راننده تاکسی اینترنتی</a>
            <a href="#">پرسش‌های متداول سفیران</a>
            <a href="#">شرایط و قوانین سفیران</a>
            <a href="#">باشگاه سفیران</a>
            <a href="#">ثبت نام راننده موتور</a>
        </div>
        <div class="footer__item">
            <h6>کسب و کارها</h6>
            <a href="#">پنل سازمانی تپسی</a>
            <a href="#">خرید کد اعتبار و تخفیف</a>
            <a href="#">دریافت API</a>
        </div>
        <div class="footer__item">
            <h6>تپسی در شبکه های اجتماعی</h6>
            <div class="footer__socail-media">
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="./assets/images/svg-sprite.svg#telegram"></use>
                    </svg>
                </span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="./assets/images/svg-sprite.svg#linkedin-footer"></use>
                    </svg>
                </span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="./assets/images/svg-sprite.svg#twitter-footer"></use>
                    </svg>
                </span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="./assets/images/svg-sprite.svg#instagram"></use>
                    </svg>
                </span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="./assets/images/svg-sprite.svg#facebook-footer"></use>
                    </svg>
                </span>
            </div>
        </div>
        <div class="footer__item">
            <h6>نمادهای اخذ شده</h6>
            <div class="footer__symbols">
                <div class="footer__enemad">
                    <img src="/assets/images/enemad3.png" alt="enemad">
                </div>
                <div class="footer__enemad">
                    <img src="/assets/images/enemad.png" alt="enemad">
                </div>
                <div class="footer__enemad">
                    <img src="/assets/images/enemad3.png" alt="enemad">
                </div>
            </div>
        </div>
    </div>
</footer>