<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- aos animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>امور سهام تپسی</title>
</head>

<body>
    <div class="news container block" style="padding: 2rem;">
        <header class="news__header">
            <div>
                <span class="double-border"></span>
                <h2 class="news__heading">اخبار و رویدادها</h2>
            </div>
            <a href="#" class="btn btn--border btn--block">بیشتر بدانید</a>
        </header>

        <h3 class="news__category-title">
            <span>اخبار مهم</span>
        </h3>

        <div>
            <section class="news-post">
                <span class="news-post__time">8 شهریور 1402</span>
                <h3 class="news-post__title">
                    <a href="#">رشد درآمد 76 درصدی تپسی در مرداد سال جاری نسبت به دوره مشابه سال قبل</a>
                </h3>
                <p class="news-post__description">
                    تپسی در جدیدترین اقدام خود، از راه‌اندازی «سرویس مدرسه» برای رفت و آمد دانش‌آموزان به مدارس خبر داد.
                    بنا به اعلام تپسی، این سرویس در سال تحصیلی 1402 – 1403 برای دانش‌آموزان شهر تهران در دسترس است و
                    والدین می‌توانند از همین امروز، برای رزرو سرویس به اپلیکیشن تپسی مراجعه کنند. هر سال با نزدیک
                </p>
                <a href="#" class="news-post__link">بیشتر بدانید</a>
            </section>
            <section class="news-post">
                <span class="news-post__time">8 شهریور 1402</span>
                <h3 class="news-post__title">
                    <a href="#">رشد درآمد 90 درصدی تپسی در چهارماهه سال‌ جاری نسبت به دوره مشابه سال قبل</a>
                </h3>
                <p class="news-post__description">
                    تپسی در گزارش فعالیت ماهانه تیرماه خود در کدال، درآمد ناشی از خدمات حمل و نقل اینترنتی را در
                    چهارماهه سال جاری نسبت به دوره مشابه سال قبل، 90 درصد رشد اعلام می‌کند. شرکت تپسی در آخرین گزارش
                    فعالیت ماهانه منتشر شده خود در کدال از مجموع درآمد شناسایی شده از کمیسیون دریافتی از سفیران ما
                </p>
                <a href="#" class="news-post__link">بیشتر بدانید</a>
            </section>
        </div>

    </div>
</body>

</html>