<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>امور سهام تپسی</title>
</head>

<body>
    <section class="shareholders">
        <div class="shareholders__bg"></div>
        <div class="container block">
            <div class="shareholders__portal">
                <span class="double-border"></span>
                <h2>پورتال سهام‌داران</h2>
                <p>سهام‌دار محترم، با ورود به پورتال اختصاصی از آخرین وضعیت سهام خود باخبر شوید.</p>
                <a href="#" class="btn btn--border btn--block">بیشتر بدانید</a>
            </div>
            <div class="wrapper">
                <div class="shareholders__special-services">
                    <span class="double-border"></span>
                    <h2 class="title">خدمات ویژه تپسی برای سهام‌داران</h2>
                    <p>
                        تپسی برای سهام‌داران خود، خدمات VIP و تخفیف‌های دوره‌ای سفر در نظر گرفته است. چنانچه شما هم جزو
                        سهام‌داران تپسی هستید، برای دریافت خدمات ویژه، از اینجا ثبت نام کنید.
                    </p>
                    <form>
                        <input type="tel" placeholder="شماره همراه" class="btn--block">
                        <button type="submit" class="btn btn--block">ارسال</button>
                    </form>
                </div>

                <div class="shareholder-img">
                    <img src="../assets/images/shareholder.jpg" alt="shareholder">
                </div>
            </div>
        </div>
    </section>
</body>

</html>