<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- aos animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>امور سهام تپسی</title>
</head>

<body>
    <section class="tapsi-story">
        <picture class="tapsi-story__image">
            <source media="(max-width: 768px)" srcset="../assets/images/tapsi-story.jpg">
            <source media="(min-witdh: 769px)" srcset="../assets/images/tapsi-story__desktop.jpg">
            <img src="../assets/images/tapsi-story__desktop.jpg" alt="tapsi story">
        </picture>
        <div class="tapsi-story__description block">
            <div class="tapsi-story__text">
                داستان تپسی از بهمن‌ماه ۱۳۹۴ آغاز شد. زمانی‌که «میلاد منشی‌پور» با هدف راه‌اندازی یک کسب و کار اینترنتی،
                از خارج کشور به ایران آمد و با همراهی «هومن دمیرچی»، پایه‌های اولیه‌ی تپسی را ساختند.
                در ادامه مسیر با تشکیل یک تیم ۱۰ نفره از برنامه‌نویسان متخصص ایرانی، طراحی و توسعه محصول آغاز شد و اولین
                نسخه تپسی در خردادماه ۱۳۹۵ در دسترس عموم قرار گرفت.
                در سال‌های نخست، سرمایه‌ اولیه تپسی، توسط موسسان آن تامین شد، اما در ادامه راه و همزمان با رشد بسیار
                سریع، سرمایه‌ لازم برای توسعه خود را از سرمایه‌گذاران جذب کرد.
                سرانجام تپسی در سال ۱۴۰۱ به عنوان اولین استارتاپ ایرانی، وارد بورس شد.
            </div>
            <div class="tapsi-story__heading">
                <span class="double-border"></span>
                <h3>درباره تپسی</h3>
                <h2>داستان ما</h2>
                <a href="#" class="btn btn--border btn--block">بیشتر بدانید</a>
            </div>
        </div>
    </section>
</body>

</html>