<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- aos animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>امور سهام تپسی</title>
</head>

<body>
    <section class="teaser container">
        <div class="teaser__heading">
            <span></span>
            <h2>اولین استارتاپ ایرانی در بازار بورس</h2>
        </div>
        <div class="teaser__description">
            <p>
                ماموریت ما، ایجاد تاثیری عمیق و ماندگار در زندگی مردم کشورمان، بر پایه تکنولوژی است. تپسی
                بر حوزه حمل و نقل شهری و حل مسائل پیچیده آن با بهره‌گیری از فناوری تمرکز دارد.
            </p>
            <a href="#" class="btn btn--primary btn--block">بیشتر بدانید</a>
        </div>
        <div class="teaser__video">
            <video controls autoplay loop muted>
                <source src="../assets/videos/tapsi-video.mp4" type="video/mp4">
                your browser does not support the video tag
            </video>
        </div>
    </section>
</body>

</html>