<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>travel</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="travel container block">
        <div class="travel__slides">
            <div class="travel__slide">
                <div class="slide__img">
                    <img src="/assets/images/travell.png" alt="travel">
                </div>
                <div class="slide__detail">
                    <div class="slide__header">
                        <span class="badge badge--primary">ویژه</span>
                        <p>اقامت رایگان &bull; سفر سه روزه</p>
                    </div>
                    <p class="slide__title">سفر به قلب کویر</p>
                    <div class="avatar-group">
                        <div class="avatar">
                            <img src="/assets/images/avatar/avatar-1.jpg" alt="avatar 1">
                        </div>
                        <div class="avatar">
                            <img src="/assets/images/avatar/avatar-2.jpeg" alt="avatar 2">
                        </div>
                        <div class="avatar">
                            <img src="/assets/images/avatar/avatar-3.jpg" alt="avatar 3">
                        </div>
                        <div class="hidden-avatars">+10</div>
                        <span class="slide__suggest">پیشنهاد</span>
                    </div>
                    <div class="slide__icons">
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#like"></use>
                            </svg>
                            <span>12</span>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#view"></use>
                            </svg>
                            <span>24</span>
                        </div>
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#edit"></use>
                            </svg>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#trash"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travel__slide">
                <div class="slide__img">
                    <img src="/assets/images/travell-2.jpg" alt="travel">
                </div>
                <div class="slide__detail">
                    <div class="slide__header">
                        <span class="badge badge--primary">ویژه</span>
                        <p>اقامت رایگان &bull; سفر سه روزه</p>
                    </div>
                    <p class="slide__title">سفر به قلب کویر</p>
                    <div class="avatar-group">
                        <div class="avatar">
                            <img src="/assets/images/avatar/avatar-1.jpg" alt="avatar 1">
                        </div>
                        <div class="avatar">
                            <img src="/assets/images/avatar/avatar-2.jpeg" alt="avatar 2">
                        </div>
                        <div class="avatar">
                            <img src="/assets/images/avatar/avatar-3.jpg" alt="avatar 3">
                        </div>
                        <div class="hidden-avatars">+10</div>
                        <span class="slide__suggest">پیشنهاد</span>
                    </div>
                    <div class="slide__icons">
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#like"></use>
                            </svg>
                            <span>12</span>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#view"></use>
                            </svg>
                            <span>24</span>
                        </div>
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#edit"></use>
                            </svg>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#trash"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travel__slide">
                <div class="slide__img">
                    <img src="/assets/images/travell-3.jpg" alt="travel">
                </div>
                <div class="slide__detail">
                    <div class="slide__header">
                        <span class="badge badge--primary">ویژه</span>
                        <p>اقامت رایگان &bull; سفر سه روزه</p>
                    </div>
                    <p class="slide__title">سفر به قلب کویر</p>
                    <div class="avatar-group">
                        <div class="avatar">
                            <img src="/assets/images/avatar/avatar-1.jpg" alt="avatar 1">
                        </div>
                        <div class="avatar">
                            <img src="/assets/images/avatar/avatar-2.jpeg" alt="avatar 2">
                        </div>
                        <div class="avatar">
                            <img src="/assets/images/avatar/avatar-3.jpg" alt="avatar 3">
                        </div>
                        <div class="hidden-avatars">+10</div>
                        <span class="slide__suggest">پیشنهاد</span>
                    </div>
                    <div class="slide__icons">
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#like"></use>
                            </svg>
                            <span>12</span>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#view"></use>
                            </svg>
                            <span>24</span>
                        </div>
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#edit"></use>
                            </svg>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#trash"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travel__slide">
                <div class="slide__img">
                    <img src="/assets/images/travell-4.jpg" alt="travel">
                </div>
                <div class="slide__detail">
                    <div class="slide__header">
                        <span class="badge badge--primary">ویژه</span>
                        <p>اقامت رایگان &bull; سفر سه روزه</p>
                    </div>
                    <p class="slide__title">سفر به قلب کویر</p>
                    <div class="avatar-group">
                        <div class="avatar">
                            <img src="/assets/images/avatar/avatar-1.jpg" alt="avatar 1">
                        </div>
                        <div class="avatar">
                            <img src="/assets/images/avatar/avatar-2.jpeg" alt="avatar 2">
                        </div>
                        <div class="avatar">
                            <img src="/assets/images/avatar/avatar-3.jpg" alt="avatar 3">
                        </div>
                        <div class="hidden-avatars">+10</div>
                        <span class="slide__suggest">پیشنهاد</span>
                    </div>
                    <div class="slide__icons">
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#like"></use>
                            </svg>
                            <span>12</span>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#view"></use>
                            </svg>
                            <span>24</span>
                        </div>
                        <div>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#edit"></use>
                            </svg>
                            <svg class="icon">
                                <use xlink:href="/assets/images/svg-sprite.svg#trash"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>